.inputCustom{
    border: 1px solid #03014C33;
    width:270px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: space-between;
    .input{
        background-color: transparent;
        border: 0px solid;
        outline: none;
        width:200px;
        padding: 10px 20px;
        font-size: 16px;
    }
}