.profileButton{
    display: flex;
    align-items: center;
    width:200px;
    padding:0px 20px;
    border-right: 3px solid #fff;
    &:hover{
        background-color: #F7F7F7;
        border-right: 3px solid #6A2F85;
    }
}