.userProfile{
    width:65%;
    margin: 0 auto;
    .camera{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 150px;
    }
    .field{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
    .buttons{
        display: flex;
        margin-top:30px;
        .save{
            margin-right:20px;
        }
    }
    
}